.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #d8d8d8;

  --primary-color: #049604;
  --secondary-color: #04ff04;

  --inverted-primary-color: rgb(1, 8, 146);
  --inverted-secondary-color: rgb(0, 29, 245);
}