.app.light {
  --bg-color: #d8d8d8;
  --inverted-bg-color: #090949;

  --primary-color: rgb(1, 8, 146);
  --secondary-color: rgb(0, 29, 245);

  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}